<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <title>MAIN_PAGE</title>
    <!-- main.js 추가 -->
    <script src="/js/domain/main/main.js"></script>
    <script th:inline="javascript">
      let annualLeaveDays = /*[[${annualLeaveDays}]]*/ '';
      let checkInTime = /*[[${checkInTime}]]*/ '';
      let workDayCount = /*[[${workDayCount}]]*/ '';
      let checkInExists = /*[[${checkInExists}]]*/ '';
      let checkOutAvailable = /*[[${checkOutAvailable}]]*/ '';
    </script>
</head>
<div layout:fragment="content">
    <div class="container p-t-20">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-white border-2 m-b-3">
                    <div class="card-body text-center">
                        <i class="bx bx-time-five bx-lg text-primary"></i>
                        <h5 class="card-title mt-2">금일 출근 시간</h5>
                        <p class="card-title" id="workStartTime" th:text="${checkInTime}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-white m-b-3">
                    <div class="card-body text-center">
                        <i class="bx bx-calendar-check bx-lg"></i>
                        <h5 class="card-title mt-2">이달의 근무일</h5>
                        <p class="card-title" id="workDaysThisMonth" th:text="${workDayCount}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-white m-b-3">
                    <div class="card-body text-center">
                        <i class="bx bxs-plane-alt bx-lg"></i>
                        <h5 class="card-title mt-2">남은 연차</h5>
                        <p class="card-title" id="remainingLeaves" th:text="${annualLeaveDays}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>