<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">

<!-- [head] 영역 시작 -->
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">CMS</title>
    <!-- CSS -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="css/components.css" />
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <link rel="stylesheet" href="css/boxicons/boxicons.css" />
    </th:block>
    <!-- js -->
    <th:block layout:fragment="js">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/sweetalert2.all.min.js"></script>
        <script src="/js/lodash.js"></script>
        <script src="/js/header.js"></script>
        <script src="/js/apps.js"></script>
    </th:block>
</head>
<!-- [head] 영역 끝 -->

<body>

<!-- [header] 영역 시작 -->
<header th:replace="~{fragments/header :: headerFragment}"></header>
<!-- [header] 영역 끝 -->
<!-- [content] 영역 시작 -->
<section class="home-section">
    <div class="home-content">
        <div layout:fragment="content"></div>
    </div>
</section>
<!-- [content] 영역 끝 -->
<!-- [footer] 영역 시작 -->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!-- [footer] 영역 끝 -->

</body>
</html>