spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:update}

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    io.github.mskim.comm.cms: ${LOG_LEVEL_APP:DEBUG}
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.stat: DEBUG
    org.hibernate.type: TRACE
