<div class="modal fade" id="leavesRequestModal" tabindex="-1" aria-labelledby="leavesRequestModallabel" aria-modal="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="leavesRequestModalLabel">연차신청</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="leaveRequestForm">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" id="leavesRequestBtn">신청</button>
      </div>
    </div>
  </div>
</div>