<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-menu' ></i>
            <span class="logo_name">CMS</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/main">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="link_name">대시보드</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">대시보드</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/api/v1/attendance">
                        <i class='bx bx-collection' ></i>
                        <span class="link_name">근태관리</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/api/v1/attendance">근태관리</a></li>
                    <li><a href="/api/v1/attendance01">출/퇴근 신청</a></li>
                    <li><a href="/api/v1/attendance02">연차 신청</a></li>
                    <li><a href="/api/v1/attendance03">외근 신청</a></li>
                </ul>
            </li>
            <li>
                <a href="/api/v1/chart">
                    <i class='bx bx-line-chart' ></i>
                    <span class="link_name">차트</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/api/v1/chart">차트</a></li>
                </ul>
            </li>
            <li>
                <a href="/api/v1/history">
                    <i class='bx bx-history'></i>
                    <span class="link_name">이력</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/api/v1/history">이력</a></li>
                </ul>
            </li>
            <li>
                <a href="/api/v1/setting">
                    <i class='bx bx-cog' ></i>
                    <span class="link_name">세팅</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/api/v1/setting">세팅</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img class="bg-white" src="/svg/solid/bxs-user.svg" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div id="profileName" class="profile_name"></div>
                        <div id="rank" class="job"></div>
                    </div>
                    <a href="#" id="logout-btn">
                        <i class='bx bx-log-out'></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>
</html>