<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-menu' id="sideBar"></i>
            <span class="logo_name">CMS</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/main">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="link_name">대시보드</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/main">대시보드</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-time-five' ></i>
                        <span class="link_name">근태관리</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">근태관리</a></li>
                    <li class="sub-menu-header">📝 나의 신청</li>
                    <li><a href="/view/attendance01">　출/퇴근 조정 신청</a></li>
                    <li><a href="/view/attendance02">　연차/출장 신청</a></li>
                    <li class="sub-menu-header">📊 신청 관리</li>
                    <li><a href="/view/attendance04">　출/퇴근 조정 관리</a></li>
                    <li><a href="/view/attendance03">　연차/출장 관리</a></li>
                </ul>
            </li>
            <li>
                <a href="/view/chart">
                    <i class='bx bx-line-chart' ></i>
                    <span class="link_name">차트</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/view/chart">차트</a></li>
                </ul>
            </li>
            <li>
                <a href="/view/history">
                    <i class='bx bx-history'></i>
                    <span class="link_name">이력</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/view/history">이력</a></li>
                </ul>
            </li>
            <li>
                <a href="/view/setting">
                    <i class='bx bx-cog' ></i>
                    <span class="link_name">세팅</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/view/setting">세팅</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img class="bg-white" src="/svg/solid/bxs-user.svg" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div id="profileName" class="profile_name"></div>
                        <div id="rank" class="job"></div>
                    </div>
                    <a href="#" id="logout-btn">
                        <i class='bx bx-log-out'></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>
</html>