<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>Join Page</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="css/login.css" />
    </th:block>
    <th:block layout:fragment="js">
        <script src="/js/lodash.js"></script>
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/sweetalert2.all.min.js"></script>
        <script src="/js/join.js"></script>
        <script src="/js/apps.js"></script>
    </th:block>
</head>
<body>
    <div class="login-body">
        <div class="login-container">
            <h2>회원가입</h2>
            <form id="joinForm"  name="joinForm">
                <input id="loginId" type="text" name="loginId" placeholder="로그인 아이디" maxlength="20" />
                <input id="password" type="password" name="password" placeholder="비밀번호" maxlength="20" />
                <input id="name" type="text" name="name" placeholder="사용자 이름" maxlength="20" />
                <button type="button" id="joinProc">회원가입</button>
            </form>
            <button type="button" onclick="location.href='/login'">로그인 페이지로 돌아가기</button>
        </div>
    </div>
</body>
</html>