<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>Join Page</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="css/login.css" />
    </th:block>
</head>
<body>
    <div class="login-body">
        <div class="login-container">
            <h2>회원가입</h2>
            <form action="/joinProc" method="post" name="joinForm">
                <input id="loginId" type="text" name="loginId" placeholder="사용자명"/>
                <input id="password" type="password" name="password" placeholder="비밀번호"/>
                <input type="submit" value="회원가입"/>
            </form>
            <button type="button" onclick="location.href='/login'">로그인 페이지로 돌아가기</button>
        </div>
    </div>
</body>
</html>