<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <title>Login Page</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/login.css" />
    </th:block>
    <th:block layout:fragment="js">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/sweetalert2.all.min.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/lodash.js"></script>
        <script src="/js/apps.js"></script>
    </th:block>
</head>
<body>
    <div class="login-body">
        <div class="login-container">
            <h2>로그인</h2>
            <form id="loginForm" method="post" name="loginForm">
                <input id="loginId" type="text" name="loginId" placeholder="로그인 아이디" required/>
                <input id="password" type="password" name="password" placeholder="비밀번호" required/>
                <button type="button" id="loginProc">로그인</button>
            </form>
            <button type="button" onclick="location.href='/join'">회원가입</button>
        </div>
    </div>
</body>
</html>