<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.mskim.comm.cms.mapper.UserAttendanceMapper">

    <resultMap id="UserAttendanceResultMap" type="io.github.mskim.comm.cms.entity.UserAttendance">
        <id property="id" column="id"/>
        <result property="workDate" column="work_date"/>
        <result property="checkInTime" column="check_in_time"/>
        <result property="checkOutTime" column="check_out_time"/>
        <result property="color" column="color"/>

        <association property="user" javaType="io.github.mskim.comm.cms.entity.Users">
            <id property="id" column="user_id"/>
            <result property="loginId" column="loginId"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="role" column="role"/>
            <result property="rank" column="rank"/>
            <result property="annualLeaveDays" column="annual_leave_days"/>
        </association>
    </resultMap>

    <select id="findTodayCheckInTime" resultMap="UserAttendanceResultMap">
        SELECT ua.*, u.id AS user_id, u.loginId, u.password, u.name, u.role, u.rank, u.annual_leave_days
        FROM USER_ATTENDANCE ua
        JOIN USERS u ON ua.user_id = u.id
        WHERE ua.user_id = #{userId}
        AND ua.work_date = CURDATE();
    </select>

    <select id="countWorkDaysThisMonth" resultType="int">
        SELECT COUNT(*) AS work_days_count
        FROM USER_ATTENDANCE
        WHERE user_id = #{userId}
        AND MONTH(work_date) = MONTH(CURDATE())
        AND YEAR(work_date) = YEAR(CURDATE());
    </select>

    <select id="findAttendanceByDate" resultMap="UserAttendanceResultMap">
        SELECT ua.*, u.id AS user_id, u.loginId, u.password, u.name, u.role, u.rank, u.annual_leave_days
        FROM USER_ATTENDANCE ua
        JOIN USERS u ON ua.user_id = u.id
        WHERE ua.user_id = #{userId}
        AND ua.work_date = #{workDate};
    </select>

    <select id="findAttendanceInRange" resultMap="UserAttendanceResultMap">
        SELECT ua.*, u.id AS user_id, u.loginId, u.password, u.name, u.role, u.rank, u.annual_leave_days
        FROM USER_ATTENDANCE ua
        JOIN USERS u ON ua.user_id = u.id
        WHERE ua.user_id = #{userId}
        AND ua.work_date BETWEEN #{startDate} AND #{endDate};
    </select>

</mapper>