<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.mskim.comm.cms.mapper.UserLoginHistoryMapper">

    <select id="findByUserId" resultType="io.github.mskim.comm.cms.entity.UserLoginHistory">
        SELECT *
        FROM USER_LOGIN_HISTORY
        WHERE user_id = #{loginId}
        ORDER BY login_time
        DESC
    </select>

</mapper>